#root {
  max-width: 1280px;
  /* height: 1000px; */
  margin: 0 auto;
  /* padding-top: 2rem; */
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

a{
  transition: .1s ease-in;
}

a:hover{
  transition: .1s ease-out;
  color: white;
  /* text-decoration: underline; */
}

.item:hover{
  transition: .3s ease-out;
  background-color: rgb(0, 189, 189);
  border-radius: 30px;
}

.item{
  border-radius: 10px;
  transition: .3s ease-in;
}

.header{
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  /* animation: 1s ease-out 0s 1 slideInLeft; */
}

.content{
  padding-top: 110px;
  /* min-width: 800px; */
  display: inline-flex;
  animation: 0.6s ease-in 0s 1 fadeIn;
}

.content_1 {
  width: 50%;
}

.content_2 {
  width: 50%;
}

.burger {
  display: none;
}

.menu {
  display: inline-flex;
}

.menu_1 {
  display: inline-flex;
}

.isi_1 {
  width: 50%;
}

@media only screen and (max-width: 800px) {
  .content{
    display: inline-block;
  }

  .content_1 {
    width: 100%;
  }

  .isi_1 {
    width: 100%;
  }

  .content_2 {
    width: 100%;
  }

  .burger {
    display: inline;
  }

  .header {
    display: none;
  }

  .menu {
    display: none;
  }

  .menu_1 {
    display: none;
  }

  .line_1{
    border: 1px solid black;
  }
  
  .line_2{
    border: 1px solid black;
  }
  
  .line_3{
    border: 1px solid black;
  }
}
